@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

*, *:before, *:after {
	margin: 0; padding: 0; border: 0; outline: 0; box-sizing: border-box; position: relative;
}

html { font-size: 62.5%; }

html, body {
	clear: both;
	display: block;
	height: 100vh;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

header, main, footer { position: relative; }

header {
	background: url(img/small-header-bg.jpg);
	background-size: cover;
	text-align: center;
	padding: 2em;
}

body { 
	background: url(img/paper-bg.jpg) repeat;
	background-color: white;
	background-size: 110%;
	font-family: 'Open Sans', sans-serif; 
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	max-width: 100vw;
	width: 100vw; }

progress {
	position: absolute;
	width: 100%;
	height: 1em;
	bottom: -1rem;
	left: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	color: #ff358a;
	z-index: 10000;
}
progress::-webkit-progress-bar {
	background-color: transparent;
}

progress::-webkit-progress-value {
	background-color: #ff358a;
}

progress::-moz-progress-bar {
	background-color: #ff358a;
}

textarea.survey-input {
	font: 400 18px "Open Sans", sans-serif;
	display: block;
	left: 0; right: 0;
	margin: 4rem auto 8rem;
	position: relative;
	border: 1px solid #ff358a;
	width: 90%;
	border-radius: 1rem;
	padding: 2rem 3rem;
	overflow: auto;
	resize: none;
	outline: none;
	background: rgba(0,0,0,0.15);
	max-height: 999999999px;
}
	textarea.survey-input::placeholder,
	textarea.survey-input::-webkit-input-placeholder,
	textarea.survey-input::-moz-placeholder,
	textarea.survey-input:-ms-input-placeholder,
	textarea.survey-input:-moz-placeholder, 
	textarea.survey-input:placeholder-shown {
	color: #fff !important;
	font: 400 18px "Open Sans", sans-serif !important; }

a { color: #266CF1; }

.white { color: #FFFFFF; }
.pink { color: #FF368a; }
.pink-bg { background: #FF368a; }
.cyan { color: #2cc7db; }
.blue { color: #122e5b; }
.grey { color: #4d4d4d; }


.centered {
    left: 0; right: 0; margin: 0 auto;
}

.splash {
	background: url(img/back-splash.jpg);
	background-size: cover;
	text-align: center;
	padding-top: 12.9rem;
	padding-bottom: 17.3rem;
}
.splash img { max-width: 100%; }

main { width: 100vw; max-width: 100vw; }
main, .episoden-landing {
	background: url(img/paper-bg.jpg) repeat;
}

.landing {
	text-align: center;
	padding: 0 3.5em 25rem;
}
.landing h2, .home h2 {
	text-transform: uppercase;
	font-size: 4em;
	font-weight: bold;
	letter-spacing: 0.2em;
}
.home h2 {
	font-size: 8em;
	border-bottom: 5px solid rgba(0,0,0,0.6);
}

.landing .promise, footer {
	border-top: 1px solid black;
}

.promise {
	margin-bottom: 2.5em;
	padding: 2.5em 1.5em;
	overflow-x: scroll;
	overflow-y: hidden;
	font-size: 1.5em;
	-webkit-text-size-adjust: 100%;
}
	.promise div {
		font-size: 2.2em;
	}
	.promise img {
		margin: 1em;
	}
.promise-header {
	margin: 2rem 5rem 0;
}
.home .promise {
	white-space: nowrap;
	font-size: 1em;
}

.pink-button {
	position: fixed;
	font-size: 3em;
	width: 93vw;
	bottom: 15rem;
	z-index: 5;
	box-shadow: 0 0 1.1em rgba(0,0,0,0.55);
}
.pink-button a {
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 0.1em;
	padding: 0.5em;
	font-weight: bold;
}
.pink-button button {
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 0.1em;
	line-height: 3;
	font-weight: bold;
}

footer {
	font-size: 1em;
	margin: 0 1em;
	padding: 1em 0 3rem;
	background: url(img/paper-bg.jpg);
	text-align: center;
}
.survey-html footer {
	margin: 0;
}

footer a {
	display: inline-block;
	width: 30%;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin: 0 2em;
	text-decoration: none;
}
.cover-image {
	display: inline-block;
	height: 37.5vw;
	width: 25vw;
	padding: 0;
	margin: 3rem 3.5rem;
	box-shadow: 0 0 3em rgba(0,0,0,0.6);
	background: url("img/lock.png") center no-repeat;
}
	.cover-image.no-background {
		background: none;
		box-shadow: none;
	}
	.cover-image img {
		padding: 0;
		margin: 0;
		-webkit-transition: opacity 150ms ease;
		transition: opacity 150ms ease;
		width: 100%;
		height: auto;
	}
	.cover-image a {
		pointer-events: none;
	}

.home-landing {
	text-align: center;
	font-size: 3em;
}
	.home-landing img {
		width: 100%;
		height: auto;
	}

.home-landing h2 {
	text-transform: uppercase;
	position: absolute;
	top: 70%;
	color: #4c4c4c;
	text-shadow: 0 0 0.2em rgba(255,255,255,0.4);
	font-size: 1.8em;
	letter-spacing: 0.3em;
}
.home-landing .pink-button {
	position: absolute;
	bottom: 0;
	left: 0; right: 0; margin: 0 auto;
	font-size: 1em;
}
.home-landing .pink-button a {
	padding: 1em;
	font-weight: bold;
	letter-spacing: 0.2em;
}

#episoden-list ul  {
	list-style-type: none;
}

.episode .play {
	display: inline-block;
}
.episode .expand {
	display: inline-block;
	font-size: 2.4em;
}
	#episode-notice div {
		font-size: 2.6rem;
		font-style: italic;
		margin: 2rem 1rem 12rem;
	}
	.episoden-description {
		text-indent: 0;
		margin-bottom: 0
	}
	.episoden-description h3 {
		text-transform: uppercase;
		letter-spacing: 0.2em;

	}
li.episode {
	width: 100%;
	border-top: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
	padding: 2rem;
	padding-bottom: 1rem;
	font-size: 1.5em;
	}
	.play {
		margin: 0;
		width: 10%;
		top: 0;
		vertical-align: middle;
	}
	.play img {
		height: 4em;
	}
	.expand {
		font-size: 2.1em;
		color: #4c4c4c;
		width: 85%;
		background: none;
		text-align: left;
		margin: 0;
		padding: 0;
		outline: 0;
		top: 0;
		vertical-align: middle;
			
	}
	.expand-icon {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 2em;
		vertical-align: middle;
	}
	.summary {
		font-size: 0.6em;
		margin: 1rem 0;
		 }
		.summary img {
		width: 100%;
		}
		.summary div {
		width: 100%;
		vertical-align: top;
		margin-top: 1rem;
		font-size: 4em; }
	
	#story-universum-list {
		text-align: center;
		padding-top: 5rem;
		border-top: 1px solid #4c4c4c;
		font-size: 3em;
		margin-bottom: 10rem;
	}
	#story-universum-list h3 {
		font-weight: 100;
	}
	#story-universum-list .universum-full, #story-universum-list .universum-half {
		margin: 1rem auto;
		left: 0; right: 0;
		position: relative;
		display: inline-block;
		text-align: left;
		vertical-align: top;
	}
	.universum-full {
		width: 100%;
		height: auto;
		-webkit-text-size-adjust: 100%;
	}
		.universum-full img {
			width: 100%;
			height: auto;
		}
		.universum-full h2 { font-size: 5rem; }
		.universum-full h3 { font-size: 4rem; }
	.universum-half {
		width: 49%;
		-webkit-text-size-adjust: 100%;
	}
		.universum-half img {
			width: 100%;
			height: auto;
		}
		.universum-half h2 { font-size: 5rem; }
		.universum-half h3 { font-size: 4rem; }
	.universum-more {
		position: fixed;
		width: 98%;
		z-index: +1;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 0; right: 0; margin: auto;
		box-shadow: 0 1.6rem 2.4rem rgba(0,0,0,0.31);
		padding: 3rem 5rem;
		background: #ffffff;
		border-radius: 3rem;
		-webkit-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;
		overflow-y:scroll;
		overflow-x:hidden;
		}
		.universum-more div {
		margin-top: 2rem;
		padding-top: 2rem;
		font-size: 1em;
		}
		.universum-more img {
			width: 100%;
			height: auto;
			left: 0; right: 0; margin: 0 auto;
		}
		

.greyed-out {
	color: #aaa !important;
}
.greyed-out h3 {
	color: #888 !important
}
.greyed-out span {
	color: #888 !important;
}
.collapse {
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
img.selected-cover {
	width: 100%;
	height: auto;
}
.episoden {
	padding: 0 3.5em;
}
.episoden-landing {
	width: 100%;
	position: relative;
	}
	.episoden-select-button {
	font-size: 0.75em;
	width: 96%;
	margin: 5% 2%;
	position: relative;
	box-shadow: 0 0 1.1em rgba(0,0,0,0.55);
	}
	.episoden-select-button a {
		display: block;
		width: 100%;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 2em;
		letter-spacing: 0.1em;
		padding: 0.5em;
		font-weight: bold;
	}
	.episoden-select-button .expand {
		color: #fff;
		text-transform: none; 
	}
	.episoden-select-button .play {
		display: inline-block;
		margin: 2em 1em;
		width: auto;
	}
	.episoden-select-button .expand {
		display: inline-block;
		top: 0;
		margin: 0.5em;
		width: 74%;
		font-weight: 400;
	}
	.episoden-select-button h3 {
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-size: 1.2em;
	}
	.reader-header a.back-button {
		position: absolute;
		top: 5rem;
		left: 4rem;
	}
		a.back-button {
			background: #ff368a;
			border-radius: 4em;
			height: 6em;
			width: 6em;
			margin-top: -1rem;
			text-align: center;
			box-shadow: 0 0 2em rgba(0,0,0,0.6);
			position: relative;
			z-index: 1;
		}
		a.back-button img {
			position: absolute;
			left: 0; right: 0; top: 0; bottom: 0;
			margin: auto;
		}

		a.back-button#episoden-back-button  {
			position: absolute;
			top: 4rem;
			left: 2rem;
		}
.episoden-length {
	position: absolute;
	font-weight: 200;
	text-transform: none;
	font-size: 2em;
	right: 2em;
	bottom: 1em;
}
.episoden-length:before {
	content: '';
	padding: 2em;
}
.landing-title-image {
	text-align: center;
	width: 100%;
	margin-bottom: 3rem;
}
	.landing-title-image img {
		width: 100%;
		height: auto;
	}
.landing-text {
	margin: 3em;
	font-size: 2em;
	color: #4c4c4c;
}
	.landing-text div {
		font-size: 1em;
	}
	/* iOS sizing */
	@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2) { 
		.landing-text div {
			font-size: 2em;
		}
	}
	.landing-text h1 {
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-size: 2.2em;
	}
	.landing-text h2 {
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}
	.landing-text h4 {
		font-size: 0.65em;
		margin-bottom: 0.8em;
	}
.social-small { 
	font-size: 1.4em; 
	text-align: right;
	margin-bottom: 4rem;
	}
	.social-small div { 
		display: inline-block; 
		vertical-align: middle;
		font-size: 0.8em;
	}
	.social-small img { 
		margin: 0 2rem; 
		vertical-align: middle;
	}
	
.social-large img {
	display: block;
	margin: 0 auto;
}
.social-large {
	font-size: 1.3em !important;
}
.social-large a {
	text-decoration: none;
	color: #4c4c4c;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
	letter-spacing: 0.2em;
	display: inline-block;
	text-align: center;
	margin-right: 5rem;
}
.social-large a.liked {
	color: #ff358a;
}

.episoden-list-title {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	width: 49%;
	font-size: 4em;
	text-align: center;
	padding-bottom: 1rem;
	background: none;
	}
	.tab-selected {
		font-weight: bold;
		border-bottom: 4px solid #8b8b8b;
	}
.reader-header {
	text-align: center;
	border-bottom: 1px solid #4d4d4d;
	position: fixed;
	z-index: +1;
	width: 101%;
	top: -1rem; left: -1rem;
	margin: 0;
	padding: 1rem;
	background: url(img/paper-bg.jpg);
	height: 12.5rem;
	-webkit-transition: top 0.2s ease !important;
	transition: top 0.2s ease !important;
}
	.reader-header.scroll-up {
		top: -12.5rem;
	}
	.reader-header.scroll-down {
		top: -1rem;
	}
	.reader-header img.back-button {
		width: auto;
		height: auto;
	}
	.reader-header button {
		background: #FA3586;
		height: 5em;
		width: 9em;
		margin: 2.7em 2em;
		box-shadow: 0 0 2em rgba(0,0,0,0.6);
		-webkit-transition: box-shadow 120ms ease;
		transition: box-shadow 120ms ease;
	}
	.reader-header button:active {
		-webkit-transition: box-shadow 50ms ease;
		transition: box-shadow 50ms ease;
		box-shadow: 0 0 0.1em rgba(0,0,0,1);
	}
img.reader-title {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 11.5rem;
}

.reader {
	font-size: 2em;
	font-weight: 100;
	padding: 0 3.5em;
	margin-left: 0;
}

	.reader.first-size div {
		font-size: 2em;
	}
	.reader.second-size div {
		font-size: 2.5em;
	}
	.reader.third-size div {
		font-size: 3em;
	}

	.reader.first-color {
		color: #4c4c4c;
		background: url(img/paper-bg.jpg) repeat;
	}
	.reader.second-color {
		color: #f2f2f2;
		background: url(img/paper-bg-grey.jpg) repeat;
	}
	.reader.third-color {
		color: #a2a2a2;
		background: url(img/paper-bg-dark.jpg) repeat;
	}
	.first-color .reader-popup, .first-color .bonus-content {
		color: #4c4c4c;
		background: #fff;
	}
	.second-color .reader-popup, .second-color .bonus-content {
		color: #f2f2f2;
		background: #8a8a8a;
	}
	.third-color .reader-popup, .third-color .bonus-content {
		color: #a2a2a2;
		background: #4c4c4c;
		box-shadow: 0 1rem 4rem 1rem rgba(255,255,255,0.31);
	}

	.reader.first-face {
		font-family: sans-serif;
	}
	.reader.second-face {
		font-family: monospace;
	}
	.reader.third-face {
		font-family: serif;
	}
	.reader.fourth-face {
		font-family: sans-serif;
		text-transform: uppercase;
	}
.reader div {
	text-indent: 1.5em;
	font-family: inherit;
	line-height: 1.5;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: 100%;
}

.no-indent {
	text-indent: 0 !important;
}

.reader .bonus-page div {
	text-indent: 0 !important;
	font-family: "Open Sans", sans-serif;
	font-size: 4rem;
	line-height: 1.1;
	margin-bottom: 0;
}
.reader .bonus-page ul {
	font-size: 3rem;
	font-family: "Open Sans", sans-serif;
}
.reader h3 {
	font-family: "Open Sans";
	-webkit-text-size-adjust: 100%;
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 1em;
}
.reader h1 {
	font-weight: 400;
	margin-bottom: 1em;
}
.reader-subscribe button {
	display: block;
	position: relative;
	color: #fff;
	background: #ff358a;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	box-shadow: 0 0 1.1em rgba(0,0,0,0.55);
	width: 80%;
	left: 0; right: 0;
	margin: 1em auto;
	font-size: 2em;
	line-height: 3;
}
.reader-subscribe.end-subscribe  {
	width: 100%;
}
.reader-subscribe.end-subscribe button {
	line-height: 1.4;
	width: 100%;
	padding: 3rem 2rem;
}
	.reader-subscribe button span {
		vertical-align: middle;
	}
	.reader-subscribe.end-subscribe button span {
		display: inline-block;
		width: 80%;
	}
	.reader-subscribe button img {
		vertical-align: middle;
		margin-left: 5rem;
	}
	.end-serialstory {
		font-family: "Open Sans", sans-serif;
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 4rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		margin: 8rem 0 6rem;
		color: #ff358a;
	}

.link-popup {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	box-shadow: 0 0 1.1em rgba(0,0,0,0.55);
	margin: 1em -1em;
	font-size: 2em;
	-webkit-transition: box-shadow 120ms ease;
	transition: box-shadow 120ms ease;
}
	.link-popup:active {
		-webkit-transition: box-shadow 50ms ease;
		transition: box-shadow 50ms ease;
		box-shadow: 0 0 0.1em rgba(0,0,0,1);
	}
	.link-popup.recap {
		text-align: center;
	}
	.link-popup h3 {
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
	}
	.link-popup h4 {
		font-weight: 100;
	}
.reader-link-icon {
	vertical-align: middle;
	margin: 1em;
}
	.reader-link-text {
		display: inline-block;
		vertical-align: middle;
		margin: 0.5em 0;
		width: 75%;
	}
	.recap .reader-link-text {
		margin: 0.5em 1em;
		width: 100%;
	}
	.reader-link-text h3 {
		font-size: 4vw;
		letter-spacing: 0.15em;
		font-weight: 550;
	}
	.reader-link-text h4 {
		font-size: 3rem;
	}
	.reader-link-text div {
		font-size: 0.8em;
		font-weight: 100;
	}
.next-episode, .last-episode {
	text-decoration: none;
	display: block;
	text-align: center;
	margin-left: -3.5em;
	margin-top: 6rem;
	width: 100vw;
}
	.next-episode img, .last-episode img {
		width: 100%;
		height: auto;
	}

	.sidebar #episoden-list {
			padding: 0 1.5em;
			font-size: 1.1em;
		}
		.sidebar #episoden-list h3 {
			font-size: 1em;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			margin-bottom: 0;
		}
		.sidebar #episoden-list span {
			margin-bottom: 0; 
		}

.sidebar {
	position: fixed;
	top: 0;
	z-index: 10;
	background: #fff;
	text-align: center;
	padding: 3.5em;
	width: 100vw;
	color: #3a3a3a;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-left: 100vw;
}
	.sidebar h2 {
		margin-top: 1em;
		font-size: 3.2em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		border-bottom: 3px solid #3a3a3a;
	}
	.sidebar div {
		font-size: 1em;
		margin: 0 1rem;
		color: #595959;
		font-weight: 100; 
	}
	.sidebar#chapter-menu {
		margin-left: 110vw;
		padding-bottom: 20rem;
		width: 80vw;
		box-shadow: -4vw 0 4vw rgba(0,0,0,0.31);
	}
	.sidebar-nav-button {
		display: block;
		width: auto;
		text-align: left;
		border-bottom: 4px solid #f2f2f2;
	}
	.sidebar .play {
		margin-left: -1rem;
	}
	#chapter-menu .play {
		width: 100%;
		text-align: left;
	}
	#chapter-menu img {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	#chapter-menu .episoden-description {
		width: 75%;
		vertical-align: middle;
		display: inline-block;
		font-size: 2.1em;
		margin: 0 0 0 3rem;
	}

	.standalone-to-home-button {
		display: block;
		width: auto;
		text-align: left;
		border-bottom: 4px solid #f2f2f2;
	}

.sidebar, main, .splash, .reader  {
	-webkit-transition: margin-left 150ms ease-out;
	transition: margin-left 150ms ease-out;
}
.standalone-page {
	background: #fff;
}
.standalone {
	background: #fff;
	text-align: center;
	padding: 3.5em;
	max-width: 900px;
	left: 0; right: 0; margin: 0 auto;
}
	.standalone h2 {
		text-transform: uppercase;;
		margin: 1em 0;
		font-size: 3.2em;
		border-bottom: 1px solid black;
		letter-spacing: 0.2em;
	}
#impressum {
	font-size: 2em;
	-webkit-text-size-adjust: 100%;
}
#datenschutz {
	text-align: left;
	font-size: 2em;
	-webkit-text-size-adjust: 100%;
}
	#datenschutz h2 {
		text-align: center;
		font-size: 2.2em;
	}
	#datenschutz span {
		font-weight: 600;
	}
	#datenschutz div {
		margin: 1em 0;
		word-wrap: break-word;
	}
	#datenschutz ul {
		text-align: left;
		margin-left: 6rem;
	}
	#datenschutz li {
		margin: 0 2rem;
	}
	.special-datenschutz {
		font-weight: bold;
		border: 2px solid black;
		padding: 1em;
	}

	.scrollTop, .scrollTopStandalone {
		display: block;
		text-decoration: none;
		text-align: center;
		width: 100%;
		color: #266cf1;
		font-size: 7em;
		}
		.scrollTop:hover, .scrollTop:active, .scrollTop:visited, .scrollTopStandalone:hover, .scrollTopStandalone:active, .scrollTopStandalone:visited {
			color: #266cf1;
		}

	#cookie {
		position: fixed;
		top: 0; left: 0;
		background: rgba(255,255,255,0.9);
		width: 100%;
		font-size: 2.5em;
		padding: 1em 3em;
		color: #8a8a8a;
		-webkit-transition: top 250ms ease;
		transition: top 250ms ease;
		}
		#cookie.cookieHide {
			top: -25vh;
		}
		#cookie a {
		color: #8a8a8a;
		}
		#cookie .cookie-more {
		text-decoration: underline;
		}
		#cookie .accept {
		border: 2px solid #8a8a8a;
		display: block;
		margin: 1em 3em;
		border-radius: 1em;
		padding: 1em;
		text-decoration: none;
		}
		#cookie .accept:hover, #cookie.accept:active {
		background: #8a8a8a;
		color: #e6e6e9;
		}

.subscription {
	padding: 0 4rem 40rem;
	font-size: 2em;
	text-align: center;
}
	.subscription-text {
		-webkit-text-size-adjust: 100%;
		font-size: 1.7em;
	}
	.subscription .back-button {
		position: absolute;
		top: -1rem;
		left: 2rem;
		font-size: 1rem;
	}
	.subscription .subscription-button {
		left: 0; right: 0; margin: 0 auto;
	}
	.subscription .subscription-button button {
		font-size: 1em;
		line-height: 3;
		letter-spacing: 0.2em;
	}
.third {
	display: inline-block;
	width: 30%;
	margin: 2rem 0;
	text-align: center;
	color: #888888;
}
	.third:not(.cost-option) {
		font-size: 3em;
		line-height: 3;
		margin: 0;
	}
	.third:not(.cost-number):not(.cost-option) {
		border-bottom: 1px solid black;
	}
.cost-option {
	width: 32%;
	font-size: 1.9em;
	margin-bottom: -2rem;
}
.cost-option h1 {
	font-size: 80%;
	padding: 1.6rem 0;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}
.selected {
	color: #ff358a;
}
	.selected:not(.cost-number):not(.cost-option) {
		border-bottom: 1px solid #ff358a;
	}
.basis {
	float: left;
}
.premium {
	float: right;
}

.cost {
	padding: 5rem 2rem;
	margin-top: 6rem;
	border-top: 1px solid black;
}

.cost-option {
	color: #fff !important;
	border: 1px solid #ff358a;
	color: #ff358a;
	padding: 1rem 0;
	cursor: pointer;
}
	.cost-option h1 {
		color: #ff358a;
	}
	.cost-option.selected {
		background: #ff358a;
	}
	.cost-option.selected h1 {
		color: #fff;
	}

h1.subscription-title {
	color: #4c4c4c;
	text-transform: uppercase;
	-webkit-text-size-adjust: 100%;
	margin: 5rem 0;
	line-height: 1.2;
	font-size: 2em;
	letter-spacing: 0.2em;
}
.third-title {
	color: #888888;
	margin-top: 5rem;
	font-size: 2em;
	-webkit-text-size-adjust: 100%;
}
.font-pane { 
	width: 80%; 
	background: #fff; 
	top: 13.5rem; left: 0; right: 0; margin: 0 auto; 
	position: absolute; 
	border: 5px solid #ff358a; 
	box-shadow: 0 0 2rem rgba(0,0,0,0.55); 
}
	.font-pane button { 
		box-shadow: none; 
		background: white; 
		border: 1px solid #ff358a;
		font-size: 3em;
		height: 8rem;
		width: auto;
		margin: 1rem;
		vertical-align: middle;
	}
	.font-pane .font-color-button {
		width: 8rem;
	}
		.font-color-button.active {
			border: 3px solid #ff358a;
		}
			#first-size { font-size: 3em; }
			#second-size { font-size: 4em; }
			#third-size { font-size: 5em; }

			#first-color { background: #ffffff; }
			#second-color { background: #a2a2a2; }
			#third-color { background: #2e2e2e; }

			#first-face { font-family: sans-serif; }
			#second-face { font-family: monospace; }
			#third-face { font-family: serif; }
			#fourth-face { font-family: sans-serif; text-transform: uppercase; }

		.font-size-button.active, .font-face-button.active {
			background: #ff358a;
			border: 1px solid #fff;
		}
	.font-pane .font-size-button {
		padding: 0 4rem;
	}
	.font-pane .font-face-button {
		width: 40%;
	}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 90%;
	height: 40px;
	top: calc(50% - 20px);
	outline: none;
	background: #bebebe;
	border-radius: 1em;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 6em;
	height: 6em;
	border-radius: 6em;
	background: #fff;
	cursor: pointer;
	z-index: 15;
	opacity: 1;
}
.hidden {
	display: none;
	opacity: 0;
}

.survey {
	text-align: center;
	font-size: 1.2rem;
}

.survey h1 {
	color: #4c4c4c;
	text-transform: uppercase;
	margin: 5rem 1rem;
	font-size: 4em;
	line-height: 1.2;
	letter-spacing: 0.2em;
	-webkit-text-size-adjust: 100%;
}

.survey-intro {
	color: #4c4c4c;
	-webkit-text-size-adjust: 100%;
	font-size: 2.75em;
	margin: 0 3rem 2rem;
	font-weight: 100;
}

.survey h3 {
	font-size: 5vw;
	line-height: 1.2;
	text-transform: uppercase;
	padding: 2rem;
	color: #ff358a;
	letter-spacing: 0.2em;
	border-top: 5px dotted black;
	border-bottom: 5px dotted black;
	left: 0; right: 0;
	width: 80vw;
	margin: 3rem auto;
}

.form-field-survey {
	position: relative;
	left: 0; right: 0;
	margin: 2rem auto;
	width: 95vw;
	font-size: 1.1em;
	padding-bottom: 60rem;
}

.survey-field {
	position: absolute;
	margin: 1rem auto;
	left: 0; right: 0;
	font-size: 3em;
	padding: 1rem;
	-webkit-transition: left 175ms ease, right 175ms ease;
	transition: left 175ms ease, right 175ms ease;
	max-height: 99999999px;
}
	/* iOS sizing */
	@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2) { 
		.survey-field div {
			font-size: 1em;
		}
	}
.survey-field.offscreen-left {
	left: 100vw;
}
.survey-field.offscreen-right {
	left: -100vw; right: 100vw;
}
	.survey-field span {
		color: #ff358a;
		display: block;
		margin-bottom: 1.5rem;
	}
	.survey-field p {
		font-weight: bold;
	}

.survey-button {
	background: #ff358a;
	width: 93vw;
	display: block;
	color: #fff;
	font-size: 4rem;
	font-weight: bold;
	padding: 1rem;
	left: 0; right: 0; bottom:0;
	margin: 0 auto;
	position: absolute;
	letter-spacing: 0.2em;
	box-shadow: 0 0 1.1em rgba(0,0,0,0.55);
}
.survey-button.survey-hidden {
	display: none;
}

.close-element {
	position: absolute;
	display: block;
	top: 1.5rem; right: 1.5rem;
	text-decoration: none;
	z-index: 100000;
	}
	.close-element.x-button {
		width: 56px;
		height: 55px;
		background: url(img/close-button.png);
	}
.close-bonus {
	position: absolute;
	display: block;
	top: 1.5rem; right: 1.5rem;
	text-decoration: none;
	z-index: 100000;
	width: 56px;
	height: 55px;
	background: url(img/close-button.png);
}

.reader-popup {
	position: fixed;
	width: 98%;
	z-index: +1;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0; right: 0; margin: auto;
	box-shadow: 0 1.6rem 2.4rem rgba(0,0,0,0.31);
	padding: 5rem;
	background: #ffffff;
	border-radius: 3rem;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	max-height: 97vh;
    overflow-y:scroll;
    overflow-x:hidden;
	}
	.reader-popup div {
		text-indent: 0 !important;
		margin-top: 2rem;
		padding-top: 2rem;
		font-size: 2em !important;
		border-top: 4px dotted #ff358a;
	}
	.reader-popup img {
		max-width: 100%;
		position: relative;
		left: 0; right: 0; margin: 0 auto;
	}

	.reader-popup.bonus-content div {
		font-size: 4rem;
		border-top: none;
		}

	.hidden-popup {
		pointer-events: none;
		opacity: 0;
		}
	.bonus-content {
		overflow: hidden;
	}
	.bonus-wrapper { 
		overflow-y: hidden; 
		overflow-x: hidden;
		white-space: nowrap;
		-ms-overflow-style: none;
		-ms-scroll-chaining: none;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
		-ms-scroll-snap-points-x: snapInterval(0%, 100%);
		max-height: 90vh;
		 } 
		.bonus-page { 
			scroll-snap-align: start;
			scroll-snap-stop: normal;
			vertical-align: middle;
			display: inline-block;
			max-width: 95vw;
			white-space: normal;
			text-align: left;
			width: 100%; 
			white-space: normal; 
			margin: 1vw 0; 
			padding: 1vw;
		}
			.bonus-page h2 {
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 1.1em;
			}
			.bonus-page ul li {
				margin-left: 10rem;
			}

.bonus-tabs {
	position: absolute; 
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: +10;
	background: #ff358a;
	color: white;
	font-size: 4rem;
	padding: 5rem 1.5rem;
}
.back-bonus-page { left: 0; }
.forward-bonus-page { right: 0; }

.bonus-sublink { max-width: 46%; display: inline-block; margin: 1rem; }
	.bonus-sublink img { max-height: 200px; width: auto; display: inline-block; vertical-align: middle; margin-bottom: 1rem; } 
	.bonus-sublink span { display: block; }
	.bonus-sublink div { display: inline-block; vertical-align: middle; margin-left: 2rem; margin-bottom: 1rem; }

	#character-sublinks { text-align: center; margin-top: 1rem; }
	#character-sublinks .bonus-sublink { width: 45%; margin: 1%; vertical-align: top; }
	#character-sublinks .bonus-sublink img { max-width: 350px; height: auto; display: inline-block; vertical-align: top; margin-bottom: -3rem; } 
		#character-sublinks .bonus-sublink div { display: inline-block; vertical-align: middle; margin-left: 0; margin-bottom: 1rem; }
	#gallery-sublinks { text-align: center; margin: 1rem; }
	#gallery-sublinks .bonus-sublink { width: 45%; margin: 1%; vertical-align: top; }
	#gallery-sublinks .bonus-sublink img { max-width: 350px; height: auto; display: inline-block; vertical-align: top; margin-bottom: -3rem; } 
	#universum-clan-popup .sublink-wrapper { text-align: center; }
	#universum-clan-popup .bonus-sublink { margin: 1rem 3rem; max-width: 22%; }
	#universum-clan-popup .bonus-sublink img { max-width: 100%; }

.share-popup {
	background: #fff;
	border-radius: 3rem;
	position: absolute;
	top: 100%; left: 0; right: 0;
	margin: 0 auto;
	width: 98%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 20;
	text-align: center;
	padding: 5rem;
	box-shadow: 0 0 3rem rgba(0,0,0,0.45);
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	max-height: 90vh;
    overflow-y:scroll;
    overflow-x:hidden;
	}
	.share-popup .share-link {
		height: 100px;
		width: 100px;
		display: inline-block;
		vertical-align: middle;
	}
.unavailable {
	position: fixed;
	left: 0; right: 0; margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	z-index: 100;
	width: 85vw;
	padding: 4rem;
	padding-bottom: 6rem;
	background: #f8f8f8;
	border-radius: 2rem;
	font-size: 3em;
	box-shadow: 0 0 20rem black;
}
	.unavailable div {
		margin-top: 3rem;
	}
	.unavailable strong {
		font-size: 1.3em;
	}
.faded {opacity: 0.2;}
.noscroll { overflow: hidden; }

.recap {
	margin: 0 2rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.lock-content-popup {
	position: fixed;
	top: 50%; left: 0; right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
	width: 80%;
	text-align: center;
	background: #fff;
	padding: 6rem 2rem 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 4vw black;
	font-size: 3em;
}
	.lock-content-popup p {
		margin: 1rem;
	}
	.lock-content-popup a.lock-content-button {
		display: block;
		background: #ff358a;
		color: #fff;
		width: 80%;
		left: 0; right: 0; margin: 2rem auto;
		padding: 1rem;
		color: #fff;
		text-align: center;
		box-shadow: 0 0 1.1rem rgba(0,0,0,0.35);
	}

.install-app {
	width: 100%;
	background: #404040;
	font-size: 3em;
	position: absolute;
	z-index: +1;
	top: 0; left: 0;
	width: 100%;
	padding: 5rem;
	height: 15rem;
	-webkit-transition: top 0.2s ease;
	transition: top 0.2s ease;
	text-align: center;
	}
	.install-app.hidden-install {
		top: -15rem;
	}
	.install-app a {
		vertical-align: middle;
	}
	.install-app .install-button {
		color: #f2f2f2;
	}
	.install-app .install-app-close {
		color: #707070;
		font-size: 2em;
		font-family: sans-serif;
		position: absolute;
		right: 5rem;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
#footer_tc_privacy {
	bottom: auto !important;
	top: 0 !important;
	padding: 1em !important;
	text-align: center !important;
}
#footer_tc_privacy_text {
	font-size: 3em !important;
}
#footer_tc_privacy_button {
	font-size: 4em !important;
	background: #ff358a !important;
}

#portrait {
	display: none;
	position: fixed;
	z-index: 10000;
	background: rgba(255,255,255,0.9);
	top: 5rem; left: 2rem; right: 2rem;
	padding: 2rem;
	box-shadow: 0 0 1rem rgba(0,0,0,0.35);
	border-radius: 1rem;
	text-align: center;
	font-size: 4em;
}

.newsletter {
	text-align: center;
	padding: 2rem;
	font-size: 1.3em;
}
	#newsletter-email {
		border: 1px solid #ff358a;
		margin: 1em auto 15rem;
		padding: 3rem;
		font-size: 4em;
		border-radius: 1rem;
		width: 90vw;
		background: rgba(0,0,0,0.15);
	}
	.newsletter-button {
		background: #ff358a;
		width: 80vw;
		display: block;
		color: #fff;
		font-size: 4rem;
		font-weight: bold;
		box-shadow: 0 0 1em rgba(0,0,0,0.55);
		margin: 1em auto;
		padding: 2rem;
		letter-spacing: 0.2em;
		left: 0; right: 0; bottom:0;
		position: absolute;
	}

.sturmtochter-bonus-info {
	margin: 2rem 5rem;
	padding: 8rem 0;
	font-size: 2.5em;
	color: #4c4c4c;
	text-align: center;
	border-top: 5px dotted black;
	-webkit-text-size-adjust: 100%;
}
	.sturmtochter-bonus-info img {
		width: 100%;
		height: auto;
		margin-bottom: 7rem;
	}
	.sturmtochter-bonus-info div {
		font-size: 1.1em;
		margin: 1.5rem 0;
	}
	.sturmtochter-bonus-info h2 {
		font-size: 1.2em;
		margin: 8rem 0 0;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		line-height: 1.6
	}

.sturmtochter-covers {
	width: 100%;
	margin: 0; outline: 0; border: 0;
}
	.sturmtochter-book {
		display: inline-block;
		padding: 0; margin: 0;
		width: calc(100% / 3);
	}
	.sturmtochter-book img {
		width: 100%;
		height: auto;
	}

.pagination { text-align: center; } 
.page { 
	margin: 3px 5px; 
	display: inline-block; 
	height: 2.5rem;
	width: 2.5rem;
	border: 2px solid #fff;
	border-radius: 2em;
	background: #fff;
	box-shadow: 0 0 0 2px #919191;
}
.page.selected-page {
	background: #ff358a;
}
.invisible-pagination {
	opacity: 0;
}

@media all and (orientation:landscape) {
    #portrait {
         display: block;
    }
}

@media (max-width: 540px) {
	body {
		font-size:18px !important;
	}
}
.animate-slide { 
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out; }
